body {
  background: #dedede;
}

#view-source {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}

#view-source-handle {
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  border: 2px solid #333;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#view-source-handle.drag {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grabbing;
}
