/* body { */
/*   background-color: black; */
/*   color: green; */
/*   margin: 0px 0px; */
/* } */

#source {
  background:white;
  position: absolute;
  top: 0px;
  left: 0px;

  overflow: hidden;
  white-space: nowrap;

  /* disable selection */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#glass {
  background-color: rgba(0, 0, 0, 0);

  z-index: 99;
  position: absolute;
  top: 60px;
  left: 550px;

  border: 1px solid green;
  width: 150px;
  height: 150px;
}
